.DS_Store
.git/
.gitignore
.idea/
*.swp
*.bak
*.tmp
*.orig
*~
.project
.settings/
*.tmproj
.vscode/
values-minimal.yaml
values-production.yaml
ci/
packaged/
.github/
ct.yaml
.trivyignore
LICENSE
README.md
